<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>NODE-X Node JS feat Express Blogs</title>
  <meta name="description" content="new modern blog using node js and express js for build develope modern website blog project">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<style>p {font: 60 1.815rem/1.950rem 'Sans Serif', sans-serif;}{margin: 0;font-family: 'Staylist', sans-serif;
</style>
<meta content="author" name="creative by dre who work on axcora technology"/>
<link href="https://1.bp.blogspot.com/-nFiF_92GUDQ/YBg_6YBiEvI/AAAAAAAAMpc/QL13ruKytx4KtayF2rWtJ1e_O7myElssgCLcBGAsYHQ/s102/coollogo_com-171622562.png" 
rel="icon"
type="image/x-icon">
<meta content='node-x' name='generator'/>
</head>
  <body class="bg-dark text-light">
