	<div class="col-12 bg-dark p-3 text-center">
	 <button class="btn btn-outline-info rounded-pill btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNodex" aria-expanded="false" aria-controls="collapseNodex">
   <img class="img-fluid" src="https://1.bp.blogspot.com/-nFiF_92GUDQ/YBg_6YBiEvI/AAAAAAAAMpc/QL13ruKytx4KtayF2rWtJ1e_O7myElssgCLcBGAsYHQ/s102/coollogo_com-171622562.png"/>
  </button>
  <div class="collapse  border-bottom border-info" id="collapseNodex">
  <div class="card card-body bg-dark">
  <p>
	<a class="text-info " href="/">Home</a> 
	<a class="text-info " href="/home">Blog</a>
	<a class="text-info " href="/about">About</a>
	<a class="text-info " href="/info">Info</a>
	<a class="text-info " href="/contact">Contact</a>
	 </p> </div>
</div>
	</div>
    <div class="container">
	<div class="row lead">
	<div class="col-12 col-md-1 p-3 p-md-5"></div>
	<div class="col-12 col-md-10 p-3 p-md-5">