<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>
<img class="img-fluid" src="https://bstp.sourceforge.io/ms.jpg"/>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
<%- include("partials/footer"); -%>
