<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>
<div class="text-center">
<img class="img-fluid rounded" width="100%" src="https://bstp.sourceforge.io/voc.jpg"/>
</div>
    <h1>Contact</h1>
    <p> <%= contactContent %> </p>
<%- include("partials/footer"); -%>
