<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>
    <h1>Info</h1>
    <p> <%= infoContent %> </p>
	<p>
	For editing Page : home, about,info,etc you can edited on app.js just edit with your text editor then edit content with you needed.
	</p>
	<p class="text-center"><a href="https://www.hockeycomputindo.com/2021/02/node-x-node-express-cms-blog-new-and.html" target="_blank" class="btn btn-info">Download Now</a></p>
<%- include("partials/footer"); -%>
