<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>
<div class="text-center">
    <img class="img-fluid" src="https://1.bp.blogspot.com/-M-5GCi6zD6A/YBhBRyOD26I/AAAAAAAAMpk/attrnU70_90b-bz4WNd5oWjAa6Ubd96FQCLcBGAsYHQ/s288/coollogo_com-114421985.png"/>
	</div>
<div class="ratio ratio-21x9">
  <iframe src="https://www.youtube.com/embed/7E-uPPqSrVg" allowfullscreen></iframe>
</div>
    <h1><strong><a href="/" class="text-info">Node-X</a></strong></h1>
    <p> <%= startingContent %> </p>



<%- include("partials/footer"); -%>
